* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}

:root {
  --true-cobalt: #202782;
  --yale-blue: #21416b;
  --bitter-chocolate: ##732c2c;
  --royal-gold: #f4d35e;
  --pale-sky: #c6ddf0;
  --white: #ffffff;
}

header {
  background-color: var(--yale-blue);
}

header a {
  color: var(--white) !important;
}

header .navbar-toggler {
  background-color: var(--white);
}

.tophero {
  background-color: var(--pale-sky) !important;
}

.card {
  cursor: pointer;
  transition: transform 0.2s ease;
  overflow: visible;
}

.cards-horizon {
  border: var(--true-cobalt) border;
}

.card:hover {
  transform: scale(1.05);
  z-index: 1;
  box-shadow: 50px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#monteSeuRoteiroCarousel .carousel-control-prev,
#monteSeuRoteiroCarousel .carousel-control-next {
  width: 3rem;
  height: 3rem;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
}

#monteSeuRoteiroCarousel .carousel-control-prev-icon,
#monteSeuRoteiroCarousel .carousel-control-next-icon {
  width: 1.5rem;
  height: 1.5rem;
  background-size: 100% 100%;
}
